{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if profile %}
<div class="container text-center" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-8">
            <h1>{{ profile.user.username }}'s Profile</h1>
    <br>
    {% if meeps %}
        {% for meep in meeps %}
            <div class="alert alert-success" role="alert">
        <div class="container">
            <div class="row">
              <div class="col-2">
                  {% if profile.profile_image %}
                        <img src="{{ profile.profile_image.url }}" class="rounded-circle" alt="{{ profile.user.username }}" style="max-width: 100px; max-height: 100px;">
                  {% else %}
                        <img src="{% static 'images/default-profile.jpg' %}" class="rounded-circle" alt="Profile Photo" style="max-width: 100px; max-height: 100px;">
                  {% endif %}

              </div>
              <div class="col-10">
                <p>{{ meep.body }}</p>
                - {{ meep.number_of_likes }} Likes -
             {% if user in meep.likes.all %}
                <a href="{% url 'meep_like' meep.id %}" type="submit" class="btn btn-danger">
                    <i class="fa-solid fa-thumbs-down"></i>
                </a>


             {% else %}
                <a href="{% url 'meep_like' meep.id %}" type="submit" class="btn btn-success">
                    <i class="fa-regular fa-thumbs-up"></i>
                </a>


             {% endif %}
              &nbsp; &nbsp;
             <a href="{% url 'show_meep' meep.id  %}" ><i class="fa-solid fa-share" style="color: gray"></i></a>
              &nbsp;&nbsp;
        {% if request.user.id == profile.user.id %}
             <a href="{% url 'delete_meep' meep.id  %}" ><i class="fa fa-trash" style="color: red"></i></a>
             &nbsp;&nbsp;
             <a href="{% url 'update_meep' meep.id  %}" >
                 <i class="fa fa-edit" style="color: blue"></i>
             </a>
        {% endif %}

                <hr>
                <small class="text-muted">
                    <p class="mb-0">{{ meep.created_at }}</p>

                </small>
              </div>

            </div>
        </div>


</div>
        {% endfor %}
    {% endif %}
        </div>
{% endif %}


        <div class="col-4">
            <br></br><br>
            {% if profile.profile_image %}
                <img src="{{ profile.profile_image.url }}" class="rounded-circle" style="max-width: 200px; max-height: 200px;"  ><br></br>

            {% endif %}
                  {% if profile.homepage_link %}
                        <a href="{{ profile.homepage_link }}" target="new">
                           <i class="fa-solid fa-link"></i>
                        </a>
                  {% endif %}
                  &nbsp;

                  {% if profile.facebook %}
                        <a href="{{ profile.facebook }}" target="new">
                            <i class="fa-brands fa-facebook" ></i>
                        </a>
                  {% endif %}
                    &nbsp;
                  {% if profile.instagram %}
                        <a href="{{ profile.instagram }}" target="new">
                            <i class="fa-brands fa-instagram" ></i>
                        </a>
                  {% endif %}
                    &nbsp;
                  {% if profile.linkedin %}
                        <a href="{{ profile.linkedin }}" target="new">
                            <i class="fa-brands fa-linkedin" ></i>
                        </a>
                  {% endif %}
                    &nbsp;
                  {% if profile.telegram %}
                        <a href="{{ profile.telegram }}" target="new">
                            <i class="fa-brands fa-telegram" ></i>
                        </a>
                  {% endif %}
                    &nbsp;
                  {% if profile.pinterest %}
                        <a href="{{ profile.pinterest }}" target="new">
                            <i class="fa-brands fa-pinterest" ></i>
                        </a>
                  {% endif %}
            <br/><br/>

            {% if profile.profile_bio %}
                <p align="justify">{{ profile.profile_bio }}</p>
            {% endif %}
            <br/><br/>


             <div class="card">

                    <div class="card-header">
                        Follows
                    </div>
             <div class="card-body">

                {% for following in profile.follows.all|slice:"3" %}
                    {% if following.user != profile.user %}
                         <a href="{% url 'profile' following.user.id %}" >@{{ following }}</a>&nbsp;
                                                                                      {% if request.user == profile.user %}

                                                                                          <a href="{% url 'unfollow' following.user.id %}" >
                                                                                            <i class="fa fa-circle-minus small" style="color:red"></i>
                                                                                          </a><br>
                                                                                      {% endif %}

                    {% endif %}
                {% endfor %}

             </div>
                 <br>
                            <div class="card-footer">
                                <a href="{% url 'follows' profile.user.id %}">See all...</a>
                            </div>
        </div>

    <br/>

        <div class="card">
            <div class="card-header">
                 Followed by
            </div>
                <div class="card-body">
                    {% for following in profile.followed_by.all|slice:"3" %}
                         {% if following.user != profile.user %}
                            <a href="{% url 'profile' following.user.id %}" >@{{ following }}</a> &nbsp;


                            {% if following in profile.follows.all %}
                                {% if request.user == profile.user %}
                                    <a href="{% url 'unfollow' following.user.id %}" >
                                        <i class="fa fa-user-minus small" style="color:red"></i>
                                    </a>
                                {% endif %}
                            {% else %}
                                {% if request.user == profile.user %}
                                    <a href="{% url 'follow' following.user.id %}" >
                                        <i class="fa fa-user-plus small" style="color:blue"></i>
                                    </a>
                                {% endif %}
                            {% endif %}
                            <br/>



                         {% endif %}


                    {% endfor %}



                </div>
             <br>
                            <div class="card-footer">
                                <a href="{% url 'followers' profile.user.id %}">See all...</a>
                            </div>
        </div>



</br>

{% if request.user != profile.user %}
<form method=POST>
    {% csrf_token %}
    {% if profile in user.profile.follows.all %}
        <button class="btn btn-outline-danger" name="follow"
            value="unfollow" type="submit">
            UnFollow @{{ profile.user.username }}
        </button>
    {% else %}
        <button class="btn btn-outline-success" name="follow"
            value="follow" type="submit">
            Follow @{{ profile.user.username }}
        </button>
    {% endif %}

</form>
{% endif %}
        {% if request.user == profile.user %}
           <a href="{% url 'update_user' %}" class="btn btn-outline-danger">Update_profile</a><br></br>
        {% endif %}


        </div>

    </div>
</div>





{% endblock %}
