{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" xmlns="http://www.w3.org/1999/html">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Twitter</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

<!--search-->

          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Search
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'search' %}">Search Meep</a></li>
            <li><a class="dropdown-item" href="{% url 'search_user' %}">Search User</a></li>

          </ul>
        </li>


          <a class="nav-link" href="{% url 'profile_list' %}">Profile List</a>

        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">logout</a>
        </li>
        <li class="nav-item">

        {% else %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'register' %}">Register</a>
        </li>
        <li class="nav-item">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
          </li>


        {% endif %}

<!-- follows and followers-->
{% if request.user.is_authenticated %}
      <li class="nav-item">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'follows' request.user.id %}">My Follows</a>
          </li>

      <li class="nav-item">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'followers' request.user.id %}">My Followers</a>
          </li>
{% endif %}



      </ul>


{% if request.user.is_authenticated %}
      {% if request.user.profile.profile_image %}
          <li class="nav-link navbar-brand">
            <a class="nav-link active" aria-current="page" href="{% url 'profile' request.user.id %}">
              <img src="{{ request.user.profile.profile_image.url }}" alt="{{ user }}" class="rounded-circle" width = 30px; >
            </a>
      {% else %}
           <li class="nav-link navbar-brand">
            <a class="nav-link active" aria-current="page" href="{% url 'profile' request.user.id %}">
              <img src="{% static 'images/default-profile.jpg' %}" alt="{{ user }}" class="rounded-circle" width = 30px; >
            </a>

          </li>
      {% endif %}
{% endif %}
    </div>
  </div>
</nav>


